{% extends 'base.html.twig' %}
{% block title %}Добавление книги{% endblock %}

{% block body %}
<div class="panel panel-default">
    <div class="panel-heading">Добавление книги</div>
    <div class="panel-body">
        {% include 'book/form.html.twig' %}
    </div>
</div>
{% endblock %}