{% extends 'base.html.twig' %}
{% block title %}Добавление автора{% endblock %}

{% block body %}
<div class="panel panel-default">
    <div class="panel-heading">Добавление автора</div>
    <div class="panel-body">
        {% include 'author/form.html.twig' %}
    </div>
</div>
{% endblock %}